<?xml version="1.0" encoding="UTF-8"?>
<?define version="2.1.4"?>
<?define UpgradeCode="a580c04f-caec-4e18-9134-c4b8f1c8f1be"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*"
           Name="cli-netlite"
           Language="1033"
           Version="$(var.version)"
           Manufacturer="David Kornel"
           UpgradeCode="$(var.UpgradeCode)">
    
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />
    <Media Id="1" Cabinet="clinetlite.cab" EmbedCab="yes" />

    <WixVariable Id="WixUILicenseRtf" Value="/LICENSE.rtf" />

    <MajorUpgrade
      AllowDowngrades="no" DowngradeErrorMessage="A later version of [ProductName] is already installed. Setup will now exit."
      AllowSameVersionUpgrades="yes"
      Schedule="afterInstallInitialize"
      />

    <UI>
      <UIRef Id="Custom_WixUI_Minimal"/>
    </UI>

		<Feature Id="ProductFeature" Title="cli-netlite" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
		</Feature>
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="CliNetlite"/>
			</Directory>
		</Directory>
	</Fragment>

  <Fragment>
    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <Component Id="SenderExe" Guid="36195613-0263-44f0-ac1a-0d3e33a5ed1d">
        <File Id="SenderExecutable" Source="..\..\src\dotNet\Sender\bin\Debug\cli-netlite-sender.exe" KeyPath="yes" Vital="yes" System="yes"/>
      </Component>
      <Component Id="ReceiverExe" Guid="4ec83438-b3a8-4955-ba9b-a003efdd5ee1">
        <File Id="ReceiverExecutable" Source="..\..\src\dotNet\Receiver\bin\Debug\cli-netlite-receiver.exe" KeyPath="yes" Vital="yes" System="yes"/>
      </Component>
      <Component Id="ConnectorExe" Guid="b146d03d-7942-4fd3-bdc4-245c25a95e4b">
        <File Id="ConnectorExecutable" Source="..\..\src\dotNet\Connector\bin\Debug\cli-netlite-connector.exe" KeyPath="yes" Vital="yes" System="yes"/>
      </Component>
      <Component Id="ClientLib.dll">
        <File Id="ClientLib.dll" Source="..\..\src\dotNet\ClientLib\bin\Debug\ClientLib.dll" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="Amqp.Net.dll">
        <File Id="Amqp.Net.dll" Source="..\..\src\dotNet\ClientLib\bin\Debug\Amqp.Net.dll" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="SetEnvPath"
                     Guid="{016cb18d-0357-425b-90a8-caf1826ddee6}">
        <CreateFolder />
        <Environment Id="PATH" Name="PATH" Value="[INSTALLFOLDER]" Permanent="no" Part="last" Action="set" System="yes" />
      </Component>
    </ComponentGroup>
  </Fragment>

  <Fragment>
    <Feature Id="MainApplication" Title="Main Application" Level="1">
      <ComponentRef Id="ClientLib.dll" />
      <ComponentRef Id="Amqp.Net.dll" />
      <ComponentRef Id="SenderExe" />
      <ComponentRef Id="ReceiverExe" />
      <ComponentRef Id="ConnectorExe"/>
    </Feature>
  </Fragment>

</Wix>
